InvokeServices/Connected Services/PostServiceReference/PostService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55576/PostService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebApplication1.DTOs" />
  <xs:element name="GetPosts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WebApplication1.DTOs" minOccurs="0" name="GetPostsResult" nillable="true" type="q1:ArrayOfPostDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>