InvokeServices/Connected Services/PostServiceReference/PostService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApplication1.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApplication1.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPostDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PostDto" nillable="true" type="tns:PostDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPostDto" nillable="true" type="tns:ArrayOfPostDto" />
  <xs:complexType name="PostDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PostDto" nillable="true" type="tns:PostDto" />
</xs:schema>