InvokeServices/Connected Services/PostXMLServiceReference/PostXmlService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPosts">
        <s:complexType />
      </s:element>
      <s:element name="GetPostsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostsResult" type="tns:ArrayOfPostDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPostDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PostDto" nillable="true" type="tns:PostDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PostDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPosts" />
  </wsdl:message>
  <wsdl:message name="GetPostsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostsResponse" />
  </wsdl:message>
  <wsdl:portType name="PostXmlServiceSoap">
    <wsdl:operation name="GetPosts">
      <wsdl:input message="tns:GetPostsSoapIn" />
      <wsdl:output message="tns:GetPostsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PostXmlServiceSoap" type="tns:PostXmlServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPosts">
      <soap:operation soapAction="http://tempuri.org/GetPosts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="PostXmlServiceSoap12" type="tns:PostXmlServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPosts">
      <soap12:operation soapAction="http://tempuri.org/GetPosts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PostXmlService">
    <wsdl:port name="PostXmlServiceSoap" binding="tns:PostXmlServiceSoap">
      <soap:address location="http://localhost:55576/PostXmlService.asmx" />
    </wsdl:port>
    <wsdl:port name="PostXmlServiceSoap12" binding="tns:PostXmlServiceSoap12">
      <soap12:address location="http://localhost:55576/PostXmlService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>